<template>
	<JsPanel class="panneau panneau-codeqr" :visible="!chargement" :options="options" :style="{'--ds-backgroundColor':backgroundColor()}" :class="['panneau-codeqr__mode-' + mode]">
		<div class="conteneur-gauche" />
		<div class="conteneur ">
			<div class="contenu">
				<label v-if="mode === 'edition'">{{ $t('lienOuTexte') }}</label>
				<input type="search" :maxlength="255" :value="texte" @input="texte = $event.target.value" v-if="mode === 'edition'">
				<input type="text" class="domaine" :value="lien" disabled v-else-if="mode === 'lecture' && lien !== '' && h >= (38)">
        <div class="fond" v-if="mode === 'edition'">
          <label>{{ $t('couleurFond') }}</label>
          <div class="couleurs">
            <span :style="{backgroundColor:backgroundColor('blanc')}" :class="{'selectionne': couleur === 'blanc'}" role="button" tabindex="0" @click="couleur = 'blanc'" />
            <span :style="{backgroundColor:backgroundColor('gris')}" :class="{'selectionne': couleur === 'gris'}" role="button" tabindex="0" @click="couleur = 'gris'" />
            <span :style="{backgroundColor:backgroundColor('vert')}" :class="{'selectionne': couleur === 'vert'}" role="button" tabindex="0" @click="couleur = 'vert'" />
            <span :style="{backgroundColor:backgroundColor('bleu')}" :class="{'selectionne': couleur === 'bleu'}" role="button" tabindex="0" @click="couleur = 'bleu'" />
            <span :style="{backgroundColor:backgroundColor('jaune')}" :class="{'selectionne': couleur === 'jaune'}" role="button" tabindex="0" @click="couleur = 'jaune'" />
            <span :style="{backgroundColor:backgroundColor('rouge')}" :class="{'selectionne': couleur === 'rouge'}" role="button" tabindex="0" @click="couleur = 'rouge'" />
          </div>
        </div>
        <div :id="'qr_' + id" class="codeqr" :class="{'edition': mode === 'edition'}"/>
        <span class="bouton" role="button" tabindex="0" @click="generer" v-if="mode === 'edition'">{{ $t('valider') }}</span>
			</div>
		</div>
		<div class="conteneur-droite" />
		<div class="conteneur-bas" />
	</JsPanel>
</template>

<script>
import JsPanel from '@/components/jspanel.vue'
import Panneau from '@/panneau'

const COULEURS_CSS = new Map([
	['blanc',	'#ffffff'],
	['gris',	'#dddddd'],
	['vert',	'#9ffbc9'],
	['bleu',	'#97fdff'],
	['jaune',	'#eeec8e'],
	['rouge',	'#fcbcc9'],
]);

export default {
	name: 'PCodeQR',
	components: {
		JsPanel
	},
	props: {
		panneau: Object,
		pages: Array,
		nav: Boolean,
		export: Boolean,
		evenementClavier: Object
	},
	extends: Panneau,
	data () {
		return {
			chargement: true,
			options: {},
			mode: 'edition',
			deplacement: false,
			redimensionnement: false,
			titre: '',
			id: '',
			w: 0,
			h: 0,
			x: 0,
			y: 0,
			minw: 12,
			minh: 14,
			statut: '',
			dimensions: {},
			position: {},
			donnees: { x: 0, y: 0 },
			codeqr: '',
			texte: 'https://digiscreen.zum.de/',
			lien: '',
			couleur: 'blanc'
		}
	},
	watch: {
		export: function (valeur) {
			if (valeur === true) {
				this.position = { x: this.x, y: this.y }
				this.$emit('export', { id: this.id, titre: this.titre, mode: this.mode, statut: this.statut, dimensions: this.dimensions, position: this.position, contenu: this.texte, w: this.w, h: this.h, x: this.x, y: this.y })
			}
		},
		deplacement: function (valeur) {
			if (valeur === false && this.mode === 'lecture') {
				const rect = document.querySelector('#' + this.id + ' .codeqr').getBoundingClientRect()
				this.codeqr.width = rect.width
				this.codeqr.height = rect.width
			}
		}
	},
	created () {
		this.definirCaracteristiques('codeqr')
		if (this.panneau.contenu !== '') {
			this.texte = this.panneau.contenu
			if (this.verifierURL(this.texte) === true) {
				this.lien = this.texte.replace('http://', '').replace('https://', '')
			}
		}
		this.genererOptions('codeqr')
	},
	mounted () {
		this.initialiser()
		this.positionner()
		this.options.resizeit.aspectRatio = 'content';
		this.chargement = false
		if (this.mode === 'edition' && this.statut !== 'min') {
			this.$nextTick(function () {
				document.querySelector('#' + this.id + ' input').focus()
				document.querySelector('#' + this.id + ' input').select()
			}.bind(this))
		}
		this.$nextTick(function () {
			const texte = this.texte
			// eslint-disable-next-line
			this.codeqr = new QRCode('qr_' + this.id, {
				text: texte,
				width: this.convertirRem(100),
				height: this.convertirRem(100),
				colorDark: '#000000',
				colorLight: 'transparent',
				// eslint-disable-next-line
				correctLevel : QRCode.CorrectLevel.H
			})
    }.bind(this))
	},
	methods: {
		backgroundColor(value) {
			return COULEURS_CSS.get(value || this.couleur) || COULEURS_CSS.get('transparent');
		},
		generer () {
			if (this.texte !== '') {
				this.mode = 'lecture'
				this.codeqr.makeCode(this.texte)
				if (this.verifierURL(this.texte) === true) {
					this.redimensionnement = true;
					this.lien = this.texte.replace('http://', '').replace('https://', '')
					if (this.donnees.w > 0 && this.donnees.h > 0) {
						this.w = this.donnees.w
						this.h = this.donnees.h
					} else {
						this.w = 30
						this.h = 38
					}
				} else if (this.verifierURL(this.texte) === false && this.donnees.w > 0 && this.donnees.h > 0) {
					this.w = this.donnees.w
					this.h = this.donnees.h
				} else if (this.verifierURL(this.texte) === false) {
					this.w = 30
					this.h = 32
				}
				if (this.donnees.x > 0 && this.donnees.y > 0) {
					this.x = this.donnees.x
					this.y = this.donnees.y
				}
				this.positionner()
			}
		},
		editer () {
			this.mode = 'edition'
			this.redimensionnement = false;
			this.lien = ''
			this.donnees.w = this.w
			this.donnees.h = this.h
			this.donnees.x = this.x
			this.donnees.y = this.y
			this.w = 36
			this.h = 53
			this.positionner()
		}
	}
}
</script>

<style>
.panneau-codeqr {
  --ds-backgroundColor:inherit;
}
.panneau-codeqr .conteneur .codeqr {
	margin: 0 auto;
	user-select: none;
}

.panneau-codeqr .conteneur input + .codeqr {
	margin: 2rem auto 0;
}

.panneau-codeqr .conteneur .codeqr img {
	display: inline-block!important;
	max-width: 100%;
	background-color: var(--ds-backgroundColor);
}

.panneau-codeqr .conteneur .codeqr.edition img {
	max-height: 25rem!important;
}

.panneau-codeqr .conteneur input.domaine {
	text-align: center;
	background: #fff;
}

.panneau-codeqr .fond {
  margin-block: 1rem;
}

.panneau-codeqr .couleurs {
	display: flex;
	justify-content: space-evenly;
}

.panneau-codeqr .couleurs span {
	display: inline-block;
	width: 4rem;
	height: 4rem;
	border: 2px solid #aaa;
	border-radius: 50%;
	cursor: pointer;
}

.panneau-codeqr .couleurs span.selectionne {
	border: 0.4rem solid #444;
}

.panneau-codeqr:not(.panneau-codeqr__mode-edition),
.panneau-codeqr:not(.panneau-codeqr__mode-edition) input.domaine {
  background-color: var(--ds-backgroundColor);
}
</style>
