<template>
	<div class="conteneur-modale" role="dialog" tabindex="-1">
		<div class="modale" role="document">
			<header>
				<span class="titre">{{ $t('aProposDigiscreen') }}</span>
				<span class="fermer" role="button" tabindex="0" @click="$parent.fermerModale"><i class="material-icons">close</i></span>
			</header>
			<div class="conteneur">
				<div class="contenu">
					<p><b>ZUM Digiscreen</b> {{ $t('digiscreen') }} <span><a href="https://zum.de/" target="_blank" rel="noreferrer"><u><b>Zentrale für Unterrichtsmedien im Internet e.V.</b></u></a></span>.</p>
					<p class="contact">{{ $t('contact') }} <a href="https://support.zum.de/" target="_blank" rel="noreferrer">ZUM hilft!</a> // info[at]zum.de</p>
          <p class="contact">ZUM Digiscreen basiert auf <a href="http://ladigitale.dev/digiscreen">Digiscreen</a> von Emmanuel ZIMMERT</p>
					<p><a href="https://opencollective.com/ladigitale" target="_blank" rel="noreferrer">{{ $t('soutien') }}</a></p>
					<p class="credits">{{ new Date().getFullYear() }} - <a href="https://ladigitale.dev" target="_blank" rel="noreferrer">La Digitale</a> - <a href="https://gitlab.com/zum-team/digiscreen" target="_blank" rel="noreferrer">{{ $t('codeSource') }}</a></p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MInfo',
	data () {
		return {
			hub: false,
			version: app_version
		}
	},
	methods: {
		ouvrirHub () {
			this.hub = true
		},
		fermerHub () {
			this.hub = false
		}
	}
}
</script>

<style scoped>
p.credits {
	display: flex;
	justify-content: center;
	align-items: center;
}

p.credits a {
	margin: 0 5px;
}

p.credits .hub {
	font-size: 0;
	cursor: pointer;
}

#hub {
	position: fixed;
	visibility: hidden;
	opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: 100000;
}

#hub.ouvert {
	visibility: visible;
	opacity: 1;
    animation: fonduEntrant linear 0.1s;
}

#hub iframe {
	width: 100%;
    height: 100%;
}

#hub span {
	font-size: 0;
	color: #fff;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

@media screen and (max-width: 599px) {
	#hub span {
		top: 5px;
		right: 5px;
	}
	
	#hub span svg {
		width: 24px;
		height: 24px;
	}
}
</style>
